<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="../static/bootstrap.min.css">
<link rel="stylesheet" href="../static/common.css">

<script src="../static/jquery.min.js"></script>
<script src="../static/popper.min.js"></script>
<script src="../static/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<title>Tarz-e-zindagi home page</title>

</head>

<body>

<div class="container">

<div class="jumbotron">
<h1>Tarz-e-zindagi <a href="#" data-toggle="modal" data-target="#peshaModal" title="What is Tarz-e-zindagi?"><sup><i class="material-icons">help_outline</i></sup></a></h1>
<p class = "lead">Career advice from ancient India</p>
</div><!--./div class="jumbotron" -->

<!-- The Pesha Modal -->
		<div class="modal" id="peshaModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">What is Tarz-e-zindagi?</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<!-- Modal body -->
				<div class="modal-body"><p>It is an Urdu phrase that refers to one's calling in life or vocation. It is something that one cannot help doing, and is the happiest when doing it. It is a way of living, a way of being.</p><p class="small">Urdu is an Indic language that was born during medieval times.</p></div>
				<!-- Modal footer -->
				<div class="modal-footer">
				<button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
		</div>

<p>Confused about your vocation in life? Ask the vedas! Tell us your name and we will rummage through the vedas to find a job that's tailor-made for you.</p>

<div class="card bg-light text-dark">
<div class="card-body">
<form action="/getname" method="post">
<div class="form-group">
<label for="text">Name:</label>
<input type="text" class="form-control" name="nameinput" placeholder="Enter your name"></input>
</div><!-- ./div class="form-group" -->
<div class="form-group">
<input type="submit" class="btn btn-outline-success btn-sm" value="Enter"></input>
</div><!-- ./div class="form-group" -->
</form>
</div>
</div>

<p>&nbsp;</p>

<footer class = "small">
<div class="row">
  <div class="col text-right"><a href = "https://github.com/AninditaBasu"><img src="../static/GitHub-Mark-32px.png" alt="Anindita Basu's GitHub Profile"/></a></div>
  <div class="col text-center"><a href = "https://www.linkedin.com/in/aninditabasu/"><img src="../static/LI-In-Bug.png" alt="Anindita Basu's LinkedIn Profile"></a></div>
  <div class="col"><a href="https://dev.to/aninditabasu">
    <img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="Anindita Basu's DEV Profile" height="30" width="30"></a></div>
</div>
<div class="row">
  <div class="col text-center">Made with the Bootstrap 4 framework and Google Material Design icons.<br/>Coded in Python and hosted on Heroku.<br/>&copy; Anindita Basu&nbsp;&nbsp;<a href = "mailto:ab.techwriter@gmail.com"><i class="material-icons" style="font-size:18px">email</i></a></div>
</div>
</footer>

</div><!-- ./div class="container" -->

</body>

</html>