<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="../static/bootstrap.min.css">
<link rel="stylesheet" href="../static/common.css">

<script src="../static/jquery.min.js"></script>
<script src="../static/popper.min.js"></script>
<script src="../static/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<title>Tarz-e-zindagi advice page</title>

</head>

<body>

<div class="container">

<div class="jumbotron">
<h1>Tarz-e-zindagi <a href="#" data-toggle="modal" data-target="#peshaModal" title="What is Tarz-e-zindagi?"><sup><i class="material-icons">help_outline</i></sup></a></h1>
<p class = "lead">Career advice from ancient India</p>
</div><!--./div class="jumbotron" -->

<!-- The Pesha Modal -->
		<div class="modal" id="peshaModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">What is Tarz-e-zindagi?</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<!-- Modal body -->
				<div class="modal-body"><p>It is an Urdu phrase that refers to one's calling in life or vocation. It is something that one cannot help doing, and is the happiest when doing it. It is a way of living, a way of being.</p><p class="small">Urdu is an Indic language that was born during medieval times.</p></div>
				<!-- Modal footer -->
				<div class="modal-footer">
				<button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
		</div>

<p>Hello {{ nameinput }}!</p>

	<p>We suggest you become a <mark>{{ occupation }}</mark> <a href="#" data-toggle="modal" data-target="#occupationModal" title="What is this?" class="font-weight-bold"><sup>?</sup></a>. Here's how you go about it.</p>

<!-- The occupation modal -->
		<div class="modal" id="occupationModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">{{ occupation }}?</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<!-- Modal body -->
				<div class="modal-body"><p>Transliteration: {{ occupation_en }}</p><p>Meaning: {{ occupation_desc }}</p></div>
				<!-- Modal footer -->
				<div class="modal-footer">
				<button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
		</div>

<div class="card bg-light text-dark">
<div class="card-body">
<h2>What to study</h2>
<p>Study the following subjects for <u>{{ random_year }}</u> years:</p>
<ul>
	<li>{{ course_1 }} (<i>{{ course_1_en }}</i>, meaning, {{ course_1_desc }})</li>
	<li>{{ course_2 }} (<i>{{ course_2_en }}</i>, meaning, {{ course_2_desc }})</li>
</ul>
<p>To do so, enrol yourself in the ashram of <u>{{ rishi_1 }}</u>.</p>
<p>When you're done with your studies, offer your thanks by donating the following items to the ashram:</p>
<ul>
	<li>{{ animal }} (<i>{{ animal_en }}</i>, meaning, {{ animal_desc }})</li>
	<li>{{ food }} (<i>{{ food_en }}</i>, meaning, {{ food_desc }})</li>
	<li>{{ ornament }} (<i>{{ ornament_en }}</i>, meaning, {{ ornament_desc }})</li>
</ul>
</div>
</div>

<p>&nbsp;</p>

<div class="card bg-light text-dark">
<div class="card-body">
<h2>How to get blessed</h2>
<p>While you're a student, meditate upon <u>{{ god }}</u> twice a day, at sunrise and sunset, with the following verse:</p>
<pre><a href = "{{ god_verse }}">Verse in English</a></pre>
</div>
</div>

<p>&nbsp;</p>

<div class="card bg-light text-dark">
<div class="card-body">
<h2>How to deflect evil</h2>
<p>Be aware of those who wish you ill, and guard yourself against their black magic by invoking the following spell every new moon night, at the fourth hour of the night:</p>
<pre class="pre-scrollable">May my enemy's {{ relative }} <a href="#" data-toggle="modal" data-target="#relativeModal" title="What is this?" class="font-weight-bold"><sup>?</sup></a> 
be struck down with 
{{ disease_1 }} <a href="#" data-toggle="modal" data-target="#disease1Modal" title="What is this?" class="font-weight-bold"><sup>?</sup></a> 
and 
{{ disease_2}} <a href="#" data-toggle="modal" data-target="#disease2Modal" title="What is this?" class="font-weight-bold"><sup>?</sup></a>.</pre>
</div>
</div>

<!-- The relative modal -->
		<div class="modal" id="relativeModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">{{ relative }}</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<!-- Modal body -->
				<div class="modal-body"><p>Transliteration: {{ relative_en }}</p><p>Meaning: {{ relative_desc }}</p></div>
				<!-- Modal footer -->
				<div class="modal-footer">
				<button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
		</div>

<!-- The disease1 modal -->
		<div class="modal" id="disease1Modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">{{ disease_1 }}</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<!-- Modal body -->
				<div class="modal-body"><p>Transliteration: {{ disease_1_en }}</p><p>Meaning: {{ disease_1_desc }}</p></div>
				<!-- Modal footer -->
				<div class="modal-footer">
				<button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
		</div>

<!-- The disease2 modal -->
		<div class="modal" id="disease2Modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">{{ disease_2 }}</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<!-- Modal body -->
				<div class="modal-body"><p>Transliteration: {{ disease_2_en }}</p><p>Meaning: {{ disease_2_desc }}</p></div>
				<!-- Modal footer -->
				<div class="modal-footer">
				<button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
		</div>

<p>&nbsp;</p>

<div class="card bg-light text-dark">
<div class="card-body">
<h2>What to expect after {{ random_year }} years</h2>
<p>After you've faithfully followed the preceding steps, you'll wake up one auspicious day to discover that your name has changed from <mark>{{ nameinput }}</mark> to <mark>{{ rishi_2 }}</mark>.</p>
<p>From that point onwards, everyone around you will automagically start calling you <u>{{ rishi_2 }}</u>. Besides excelling as {{ occupation }}, you will also be known far and wide for composing verses like these:</p>
<ul>
    <li> <a href="#" data-toggle="modal" data-target="#sanskritModal" title="?">Verse 1</a></li>
    <li> <a href="#" data-toggle="modal" data-target="#sanskritModal" title="?">Verse 1</a></li>
</ul>
</div>
</div>

	<!-- The sanskrit modal -->
		<div class="modal" id="sanskritModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Under construction</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<!-- Modal body -->
				<div class="modal-body"><p>Placeholder for Sanskrit verse</p></div>
				<!-- Modal footer -->
				<div class="modal-footer">
				<button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
		</div>

<p>&nbsp;</p>

<p class="small text-center">The advice on these pages must be taken with a pinch of salt and a dose of good spirit.</p>
	<p class="small text-center">The info on these pages is pulled from the <a href="https://aninditabasu.github.io/indica/">Indica APIs</a>.</p>

<hr/>

<footer class="small">
<div class="row">
  <div class="col text-right"><a href = "https://github.com/AninditaBasu"><img src="../static/GitHub-Mark-32px.png" alt="Anindita Basu's GitHub Profile"/></a></div>
  <div class="col text-center"><a href = "https://www.linkedin.com/in/aninditabasu/"><img src="../static/LI-In-Bug.png" alt="Anindita Basu's LinkedIn Profile"></a></div>
  <div class="col"><a href="https://dev.to/aninditabasu">
    <img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="Anindita Basu's DEV Profile" height="30" width="30"></a></div>
</div>
<div class="row">
  <div class="col text-center">Made with the Bootstrap 4 framework and Google Material Design icons.<br/>Coded in Python and hosted on Heroku.<br/>&copy; Anindita Basu&nbsp;&nbsp;<a href = "mailto:ab.techwriter@gmail.com"><i class="material-icons" style="font-size:18px">email</i></a></div>
</div>
</footer>

</div><!-- ./div class="container" -->


</body>

</html>